@media (max-width: 1000px) {
  form {
    border: 10px solid #fafafa;
  }
}

@media (max-width: 543px) {
  form {
    border: 0 solid #fafafa;
  }
}

@media (max-width: 527px) {
  h1 {
    font-size: 20px;
    font-weight: 900;
  }
}

@media (max-width: 429px) {
  h1 {
    font-size: 10px;
    font-weight: 900;
  }
}

@media (max-width: 396px) {
  h1 {
    display: none;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  form {
    height: auto;
    overflow-y: auto;
  }
}
