@media (max-width: 1000px) {
  form {
    border: 10px solid #fafafa;
  }
}

@media (max-width: 480px) {
  body {
    height: 250px;
    overflow-y: scroll;
  }
}

@media (max-width: 543px) {
  form {
    border: 0 solid #fafafa;
  }
  body {
    height: 350px;
    overflow-y: scroll;
  }
}

@media (max-width: 527px) {
  h1 {
    font-size: 20px;
    font-weight: 900;
  }
}

@media (max-width: 429px) {
  h1 {
    font-size: 15px;
    font-weight: 900;
  }
}

@media (max-width: 429px) {
  h1 {
    font-size: 10px;
    font-weight: 900;
  }
}

@media (max-width: 396px) {
  h1 {
    display: none;
  }
}

@media (max-width: 358px) {
  form {
    height: auto;
  }
}
