body {
  font: 400 15px/1.6 Arial, Helvetica, sans-serif;
  background-color: teal;
}

h1 {
  text-align: center;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border: 50px solid #fafafa;
  border-radius: 4px;
  max-width: 90%;
  width: 85%;
}

.text-right {
  text-align: right;
}

select {
  background-color: #eee;
  border: 1px solid #999;
}

p {
  text-align: center;
}
